<div class="container">
    <h2>New Added</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="product-top">
                <img src="/image/p7.jpg" class = "img-responsive">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Quick shop">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Whish list">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="product-bottom text-center">
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
              <h3> Bag</h3>
              <h5>$400.0</h5> 
            </div>
        </div>
        <div class="col-md-3">
          <div class="product-top">
              <img src="/image/i3.webp">
              <div class="overlay">
                  <button type="button" class="btn btn-secondary" title="Quick shop">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-secondary" title="Whish list">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-secondary" title="Add to Cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </button>
              </div>
          </div>

          <div class="product-bottom text-center">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <h3> Body Full</h3>
            <h5>$650.0</h5> 
          </div>
      </div>
      <div class="col-md-3">
          <div class="product-top">
              <img src="/image/i1.jpg">
              <div class="overlay">
                  <button type="button" class="btn btn-secondary" title="Quick shop">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-secondary" title="Whish list">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-secondary" title="Add to Cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </button>
              </div>
          </div>


          <div class="product-bottom text-center">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <h3> Womens Shoes</h3>
                  <h5>$900.0</h5> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="/image/p4.webp">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Quick shop">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="Whish list">
                          <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="Add to Cart">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="product-bottom text-center">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <h3> Comfort Trausers</h3>
                  <h5>$700.0</h5> 
                </div>
            </div>
          </div>
      </div>

      <div class="container">
        <h2>New arrival</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="/image/p2.webp" class = "img-responsive">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Quick shop">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="Whish list">
                          <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="Add to Cart">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="product-bottom text-center">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <h3> Jacket</h3>
                  <h5>$800.0</h5> 
                </div>
            </div>
            <div class="col-md-3">
              <div class="product-top">
                  <img src="/image/p3.webp">
                  <div class="overlay">
                      <button type="button" class="btn btn-secondary" title="Quick shop">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-secondary" title="Whish list">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </button>
                  </div>
              </div>





              <div class="product-bottom text-center">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <h3> Womens Shoes</h3>
                <h5>$900.0</h5> 
              </div>
          </div>
          <div class="col-md-3">
              <div class="product-top">
                  <img src="/image/p4.webp">
                  <div class="overlay">
                      <button type="button" class="btn btn-secondary" title="Quick shop">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-secondary" title="Whish list">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </button>
                  </div>
              </div>

              <div class="product-bottom text-center">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <h3> Comfort Trausers</h3>
                <h5>$700.0</h5> 
              </div>
          </div>
        </div>
    </div>

    <div class="container">
      <h2>New arrival</h2>
      <div class="row">
          <div class="col-md-3">
              <div class="product-top">
                  <img src="/image/p2.webp" class = "img-responsive">
                  <div class="overlay">
                      <button type="button" class="btn btn-secondary" title="Quick shop">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-secondary" title="Whish list">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </button>
                  </div>
              </div>

              <div class="product-bottom text-center">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <h3> Jacket</h3>
                <h5>$800.0</h5> 
              </div>
          </div>
          <div class="col-md-3">
            <div class="product-top">
                <img src="/image/p3.webp">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Quick shop">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Whish list">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>